.hero-container {
    background-color: #495E57;
    height: 310px;
    display: flex  ;
    
}

.heroImage {
    height: 328px;
    width: 330px;
    border-radius: 16px;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    margin-left: 7em;
    margin-top: 6em;
    
}